body, html {
    height : 100vh;
}

body {
    margin: 0;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(auto, 6);
    grid-template-areas: 
        "box1"
        "box2"
        "box3"
        "box4"
        "box5"
        "box6"
}

@media only screen and (min-width:100%) {
   


    body {
        margin: 0;
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
        grid-template-rows: 1/4 2/4 2/5 ;
        grid-template-areas: 
        "box1 box1 box1"
        "box2 box2 box3"
        "box4 box5 box6"


    }

}

